@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  font-family: "Manrope", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

h1 {
  color: #18191f;
  font-weight: 800;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-flex .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .nav-flex .menu {
    display: none;
  }
}

.nav-flex .menu li {
  list-style: none;
  padding: 0 20px;
}

.nav-flex .menu li a {
  text-decoration: none;
  color: #000;
}

.nav-flex .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .nav-flex .store {
    display: none;
  }
}

.nav-flex .store li {
  list-style: none;
  padding: 0 5px;
}

.nav-flex .store li a {
  text-decoration: none;
  color: #000;
}

header {
  background-image: url("../img/Background.svg");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  width: 100%;
  padding: 0;
}

.header-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1100px) {
  .header-content-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-content-flex .header-content-items:nth-child(2) {
  text-align: center;
  min-width: 320px;
}

.header-content-flex .header-content-items:nth-child(1) {
  padding: 0 20px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .header-content-flex .header-content-items:nth-child(1) {
    margin-bottom: 20px;
  }
}

.header-content-flex .header-content-items h1 {
  font-weight: 800;
  margin-top: 0;
  font-size: clamp(40px, 8vmin, 75px);
  color: #18191f;
}

.header-content-flex .header-content-items img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content-flex .header-content-items button {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  background: #8c30f5;
  padding: 18px 45px;
}

.partner {
  padding: 50px 0;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #efefef;
}

.partner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner-flex .partner-items {
  padding: 20px 10px;
}

.feature {
  padding: 50px 0 100px 0;
}

.feature-header {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

.feature-header h1 {
  font-size: clamp(32px, 7vmin, 48px);
  margin-bottom: 20px;
}

.feature-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-flex .feature-items {
  width: 350px;
  margin: 20px 0;
}

.feature-flex .feature-items .feature-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-flex .feature-items .feature-text {
  text-align: center;
}

.story-container {
  background: #d5fafc;
  padding: 60px 0;
}

.story-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story-flex .story-item {
  padding: 15px;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story-flex .story-item:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.story-flex .story-item .story {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 40px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  border-radius: 8px;
}

@media (max-width: 1100px) {
  .story-flex .story-item .story {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.story-flex .story-item .story .story-text,
.story-flex .story-item .story .story-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.story-flex .story-item .story .story-name p {
  color: #777;
}

.story-flex .story-item .airbnb-story {
  margin-bottom: 20px;
}

.story-flex .story-item .hubspot-story {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1100px) {
  .story-flex .story-item .hubspot-story {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.story-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.story-header h1 {
  margin: 20px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(32px, 7vmin, 48px);
  position: relative;
  z-index: 1;
}

.story-header h1::before {
  content: "“";
  color: #2ec6ce70;
  position: absolute;
  font-size: 280px;
  top: -120px;
  left: -12%;
  z-index: -1;
}

.story-header p {
  margin-bottom: 20px;
}

.achieve-container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achieve-container .achieve-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achieve-container .achieve-flex .achieve-items {
  width: 45%;
  min-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achieve-container .achieve-flex .achieve-items .achieve-img {
  padding-right: 15px;
  margin-left: 15%;
}

.achieve-container .achieve-flex .achieve-items .achieve-img img {
  width: 100%;
}

.achieve-container .achieve-flex .achieve-items .achieve-text h2 {
  font-size: clamp(17px, 5vmin, 24px);
  margin: 10px 0;
}

.achieve-container .achieve-header {
  margin: 0 auto;
}

.achieve-container .achieve-header h1 {
  font-size: clamp(32px, 7vmin, 48px);
  margin-bottom: 0;
}

.headline {
  position: relative;
}

.headline .headline-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  position: relative;
}

.headline .headline-flex .headline-img {
  width: 490px;
  height: 490px;
  background: #f1e4ff;
  position: relative;
  overflow: hidden;
}

.headline .headline-flex .headline-img .headline-phone {
  position: absolute;
  bottom: -130px;
  left: 15px;
  width: 100%;
  height: 100%;
}

.headline .headline-flex .headline-img .headline-phone img {
  width: 100%;
}

.headline .headline-flex .headline-text {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.headline .headline-flex .headline-text a {
  color: #8c30f5;
  text-decoration: none;
  font-weight: bold;
}

.headline .headline-flex .headline-text h2 {
  font-size: clamp(32px, 7vmin, 48px);
  font-weight: 800;
  margin: 20px 0;
}

.trends {
  padding-bottom: 50px;
}

.trends .trends-flex {
  padding: 100px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trends .trends-flex .trends-item {
  min-width: 0;
}

.trends .trends-flex .trends-item:first-child {
  width: 480px;
}

.trends .trends-flex .trends-item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px;
}

.trends .trends-flex .trends-item h1 {
  font-size: clamp(32px, 5.5vmin, 40px);
  font-weight: 800;
}

.trends .trends-img img {
  width: 100%;
}

.download {
  background: #2ec5ce;
}

.download .download-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.download .download-flex .download-items {
  margin: 0 auto;
}

.download .download-flex .download-header {
  width: 450px;
  padding: 20px 0;
}

.download .download-flex .download-header h1 {
  font-size: clamp(32px, 5.5vmin, 40px);
  font-weight: 800;
}

.download .download-flex .download-header p:nth-child(3) {
  margin-top: 50px;
  font-weight: 800;
}

.download .download-flex .store-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download-flex .store-flex img:first-child {
  margin-right: 10px;
}

.download .download-flex .download-img {
  position: relative;
  overflow: hidden;
  width: 650px;
  height: 500px;
}

.download .download-flex .download-img img:first-child {
  width: 50%;
  min-width: 230px;
  position: absolute;
  top: -15%;
  left: 0;
}

.download .download-flex .download-img img:last-child {
  width: 50%;
  min-width: 230px;
  right: 0;
  position: absolute;
  bottom: -35%;
}

footer {
  background: #0b0d17;
  padding: 50px 0;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-flex .footer-items {
  color: #fff;
}

footer .footer-flex .footer-items:last-child {
  padding-right: 50px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-flex .footer-items:last-child img {
  margin: 10px 0;
}

footer .footer-flex .footer-items p {
  color: #d9dbe175;
}

footer .footer-flex .footer-items .footer-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-flex .footer-items .footer-menu li {
  padding-right: 15px;
  list-style: none;
}

footer .footer-flex .footer-items .footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.mobile-section {
  position: absolute;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  z-index: 100;
  right: -1000px;
  padding-top: 50px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.mobile-section .mobile-menu li {
  list-style: none;
  margin: 10px 0;
}

.mobile-section .mobile-menu li a {
  text-decoration: none;
  color: #222;
  font-weight: 800;
  font-size: 2.1rem;
}

.mobile-menu-button {
  background: transparent;
  width: 40px;
  height: 40px;
  border: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .mobile-menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu-button.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
}

.mobile-menu-button.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

.mobile-menu-button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #111;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 0 #111;
          box-shadow: 0 10px 0 #111;
}

.mobile-menu-button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #111;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
/*# sourceMappingURL=style.css.map */