*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:#F2F1E6;
    transition: 0.5s;
    position: relative;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

button{
    cursor: pointer;
}

.text-header{
    font-size: clamp(60px, 6vmax, 100px);
    color: rgb(0,0,0,0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    position: relative;
    margin-bottom: 20px;
}
.text-header::before{
    content: "";
    width: 15%;
    height: 3px;
    bottom: 0;
    left: 5px;
    background: #333;
    position: absolute;
}

 /* header section */
section{
    min-height: 100vh;
    padding-top: 50px;
}
header{
    background: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    color: #FFF;
    animation: gradient 10s ease infinite;  
    box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    padding-top: 50px;
    box-sizing: border-box;
}


.menu{
    display: flex;
}

.menu h1{
    margin: 0;
}
.menu li{
    list-style: none;
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.menu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem; 
    font-weight: 300;
}
nav{
    position: fixed;
    z-index: 99;
    padding: 5px 0;
    top: 0;
    width: 100%;
}
.logo{
    width: 45px;
    display: flex;
    align-items: center;
    transition: 0.25s;
    cursor: pointer;
}

.logo img{
    width:100%;
}
.menu li a::before {
    content: "";
    bottom: -5px;
    width: 0%;
    height: 2px;
    position: absolute;
    background: #FFF;
    transition: 0.5s;
}
.menu li a:hover::before{
    width: 80%;
}
nav{
    transition: 0.25s ease-out;
    width: 100%;
}

.nav .container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.profile{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-text{
    position: absolute;
    right: 0;
    top: -5%;

}

.logo-text h1{
    margin: 0;
    line-height: 0.6;
    font-weight: 300;
    color: #666;
    transition: 0.08s;
}
.c{
    left: -5%;
    position: relative;
    font-size: 800px;
}
.n{
    right: -22%;
    bottom: -50px;
    position: relative;
    font-size: 800px;
}

@media (max-width: 1100px){
    .logo-text h1{
        color: #222222;
    }
}

#container-profile{
    z-index: 2;
    width: 100%;
}

.profile-container{
    display: flex;
    max-width: 100%;
    width: 100%;
    position: relative;
    
}

.profile-flex{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}


.profile-info h1{
    font-size: clamp(32px,15vmin,90px);
    margin: 0;
    letter-spacing: -0.05em;
    font-weight: 500;
    line-height: 1;
    white-space:nowrap;
    text-shadow: 2px 1px 7px rgba(0,0,0,0.3);
}

.profile-info h2{
    margin: 0;
    font-size: clamp(20px,7vmin,35px);
    letter-spacing: -0.02em;
    font-weight: 200;
    line-height: 1;
    white-space:nowrap;
    text-shadow: 2px 1px 7px rgba(0,0,0,0.3);
}

@media (max-width: 768px){
    .name{
        display: none;
    }
    .profile-name{
        display: flex;
        align-items: flex-end;
        width: 100%;
    }
    .profile-container{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .profile-img img{
        height: 40vh; 
        object-position: 100% 40%;
    }
}
.scroll{
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    bottom: 5%;
}
.scrollDown-button{
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
    transition: 0.25s;
}
.scrollDown-button::before{
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.35s;
    opacity: 0;
}
.scrollDown-button:hover::before{
    background: #FFF;
    top: 0;
    opacity: 1;
}
.scrollDown-button:hover{
    color: #111;
}
.down-icon{
    margin-left: 5px;
    font-size: 2.1rem;
    transition: 0.25s;
    animation: down-animate 2s infinite ease-in-out;
}
@keyframes down-animate{
    0%{transform: translateY(-5px)}
    50%{transform: translateY(10px)}
    100%{transform: translateY(-5px)}
}
.scroll a{
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}



 /* Skill section */
.skill-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
.skill-flex{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 130px) ;
    padding: 20px 0 50px 0;
}
.skill-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;

}
.skill-name{
    font-weight: 300;
    font-size: 1.2rem;
    color: #333;
}
.skill-icon i{
    font-size: 4rem;
    color: #333;
}

 /* Portfolio section */

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.web-item{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    width: 675px;
    height: 250px;
    transition: 0.5s;
    margin: 20px 10px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    

}

.web-content{
    font-size: 2.5vmax;
    color: #FFF;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.25s;
}


.web-item:hover .web-content{
    opacity: 1;
}
.web-item:hover{
    transform: scale(0.95);
}
.web-content h2, .view-button{
    margin: 0 0 0 40px;
}

.view-button{
    border: none;
    text-decoration: none;
    background: transparent;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #FFF;
    font-weight: bold ;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
}
 .view-button::after{
    content: "";
    position:absolute;
    background: #FFF;
    border-radius: inherit;
    width: 100%;
    height: 0%;
    border-radius: 4px;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -1;
    transition: all 0.25s ease-in-out;
}

.view-button:hover::after{
    height: 100%;
}

.view-button:hover{
    color: #111;
}
.view-button:active{
    transform: scale(0.8);
}


 /* footer section */

.footer-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-flex p{
    color: rgba(255,255,255,0.75);
}
footer{
    background: #111;
    padding: 25px 0;
    font-weight: 300;
}

.footer-flex a{
    margin: 0;
    padding: 0;
    font-size: 0; 
}

.footer-flex a i{
    font-size: 2.4rem;
    transition: 0.25s;
    
    color: rgba(255,255,255,0.53);
}


.footer-flex a i:hover{
    transform: scale(1.2);
    color: rgba(255,255,255,1);
}


 /* Scrollbar section */

::-webkit-scrollbar {
    display: none;
  }

 /* Mobile section */

@media (max-width: 768px){
    .web-content{
        font-size: 2.5vmax;
        color: #FFF;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 17.5%, rgba(0,0,0,0));
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
        flex-direction: column;
        opacity: 1;
        transition: 0.25s;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0px);
    }
    .web-content a{
        width: 50%;
        margin: 10px auto;
    }
    .web-item{
        background-position: 50% 100%;
    }
    .web-content h2{
        text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    }
}


#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background: rgba(0,0,0,0.65);
    z-index: 10000;
    transition: 0.25s;
   
}
 .lds-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
 
  margin: 8px;
  border: 8px solid rgb(226, 226, 226);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(236, 236, 236) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}