@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:#F2F1E6;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

button{
    cursor: pointer;
}
.text-header{
    font-size: 10vmin;
    color: rgb(0,0,0,0);
    -webkit-text-stroke-width: 1.75px;
    -webkit-text-stroke-color: #000;
    position: relative;
}
.text-header::before{
    content: "";
    width: 150px;
    height: 3px;
    bottom: 0;
    background: #333;
    position: absolute;
}

 /* header section */

header{
    background: linear-gradient(-45deg, #ff887c, #b11d4e);
	background-size: 400% 400%;
    height: 100vh;
    color: #FFF;
    position: relative;
    animation: gradient 10s ease infinite;  
    box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.menu{
    display: flex;
    overflow: hidden;
}

.menu h1{
    margin: 0;
}
.menu li{
    list-style: none;
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.menu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;

    
}
nav{
    position: absolute;
    width: 100%;
}
.logo{
    width: 50px;
}
.logo img{
    width: 100%;
}
.menu li a::before {
    content: "";
    bottom: 0;
    width: 0%;
    height: 2px;
    position: absolute;
    background: #FFF;
    transition: 0.5s;
}
.menu li a:hover::before{
    width: 80%;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

.profile{
    display: flex;
    align-items: center;
    height: 100%;
}

.profile-container{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.profile-img img{
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.25s;
}
.profile-img{
    width: 300px;
    text-align: center;
    transition: 0.5s;
    padding-right: 20px;
}

.profile-img:hover{
    transform: rotate(5deg) scale(1.1);
}
.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-size: 10vmin;
    margin: 0;
    font-weight: 600;
    line-height: 1.1;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    
}

.address{
    font-weight: 200;
    font-size: 5vmin;
    margin: 0;
    color: #f1f1f1;
}
.scroll{
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
}
.down-icon{
    position: absolute;
    bottom: 110%;
    left: 50%;
    font-size: 2.1rem;
    transform: translate(-50%, -50%);
    transition: 0.25s;
    animation: down-animate 2s infinite ease-in-out;
}
@keyframes down-animate{
    0%{bottom: 100%;}
    50%{bottom: 50%;}
    100%{bottom: 100%;}
}
.scroll a{
    text-decoration: none;
    color: #FFF;
}


@media (max-height: 450px){
    .profile-img img{
        width: 50%;

    }
    
}



 /* Skill section */

.skill-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0 200px 0;
}
.skill-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.skill-name{
    font-weight: 300;
    font-size: 1.2rem;
    color: #111;
}
.skill-icon i{
    font-size: 4rem;
    color: #333;
}

 /* Portfolio section */

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.web-item{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    max-width: 675px;
    width: 100%;
    height: 250px;
    transition: 0.5s;
    margin: 20px 10px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.web-content{
    font-size: 2.5vmax;
    color: #FFF;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
    transition: 0.25s;
}


.web-item:hover .web-content{
    opacity: 1;
}
.web-item:hover{
    transform: scale(0.95);
}
.web-content h2, .view-button{
    margin: 0 0 0 40px;
}


.view-button{
    border: none;
    text-decoration: none;
    background: transparent;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #FFF;
    font-weight: bold ;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
}
 .view-button::after{
    content: "";
    position:absolute;
    background: #FFF;
    border-radius: inherit;
    width: 100%;
    height: 0%;
    border-radius: 4px;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -1;
    transition: all 0.25s ease-in-out;
}

.view-button:hover::after{
    height: 100%;
}

.view-button:hover{
    color: #111;
}
.view-button:active{
    transform: scale(0.8);
}


 /* footer section */

.footer-flex{
    display: flex;
    justify-content: center;
}
footer{
    background: #111;
    padding: 50px 0;
}

.footer-flex a{
    margin: 0;
    padding: 0 3vmax;
}

.footer-flex a i{
    font-size: 2.4rem;
    transition: 0.25s;
    color: rgba(255,255,255,0.53);
}


.footer-flex a i:hover{
    transform: scale(1.2);
    color: rgba(255,255,255,1);
}


 /* Scrollbar section */

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

     /* Mobile section */

@media (max-width: 768px){
    .web-content{
        font-size: 2.5vmax;
        color: #FFF;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0));
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
        flex-direction: column;
        opacity: 1;
        transition: 0.25s;
    }
    .web-content a{
        width: 50%;
        margin: 10px auto;
    }
    
}