body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #01a9d8, #7dda87);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: 0.25s;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.web-item{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    background: #f7f7f7;
    animation: fade 1.25s;
    flex-basis: 500px;
    margin: 15px;
    transition: 0.25s;
}

.web-item:hover{
    transform: scale(1.025);
}

.web-image img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.web-content{
    padding: 15px;
}
.web-content h2{
    padding: 5px 0;
    font-weight: 500;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.view-button{
    border: none;
    background: #3995b6;
    padding: 10px 30%;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: 2px solid transparent;
    font-weight: bold ;
    font-size:16px;
    transition: 0.3s;
}

.view-button:hover{
    background: #FFF;
    border: 2px solid #3995b6;
    color: #01a9d8;
}

.github-button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: black;
    border-radius: 100%;
    border: 2px solid #111;
}

.github-button i{
    font-size: 47px;
    color: #EEE;
    transition: 0.25s;
}

.github-button i:hover{

    transform: rotate(20deg);
}