@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E0E0E0;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}
nav{
    padding: 15px 10px;
}

.nav-flex{
    display: flex;
}


.nav-flex img{
    max-width: 90px;
}


header{
    background: #e0e0e0;
    position: relative;
}

.content-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.text-content{
    width: 450px;
    overflow: hidden;
    z-index: 11;
    padding: 25px;
    color: #FFF;
}

.text-content h1{
    letter-spacing: 1px;
    font-size: 9vmin;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.text-content p{
    font-weight: 200;
    font-size: 1.15rem;
    margin: 0;
}

.content-flex img{
    max-width: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}



.circle{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    clip-path: ellipse(190% 170% at 104% 163%);
    background: #b10819;
    box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 1);
}

.stadium{
    background-image: url("./image/stadium.jpg");
    padding: 10% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stadium-content{
    background:rgba(0, 0, 0, 0.9);
}


.stadium-content h1{
    line-height: 100%;
    margin-bottom: 15px;
}


  
  .content{
    opacity:0;
    transition: 0.55s;
    padding: 20px;
    position: absolute;
    transform: translateX(-300%);
    top: 0;
  }
  
  .card:hover .content{
    opacity:1;
     transform: translateX(0%);
  }
  
  .card:hover .wrapper{
     width: 100%;
    }
  .wrapper{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(0,0,0,0) 100%);
    border-radius: 4px;
    height: 100%;
    width: 0px;
    transition: 0.20s;
  }
  
  .content{
    opacity:0;
    transition: 0.50s;
    padding: 0px 15px;
    position: absolute;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateX(-300%);
    top: 0;
  }

  
  .card{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0;
    background: #ac0818;
    position:relative;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .position{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  #squad-container > h1{
      font-size: 2.3rem;
      padding-left: 20px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
  
  .squad{
      padding-bottom: 150px;
  }
  footer{
    background: #b10819;
    padding: 50px 0;
  }

  footer a{
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 20px;
  }
  footer a i{
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.25s;
  }
  a:hover i{
    color: rgba(255, 255, 255, 1);
  }

  .footer-flex{
      display: flex;
      justify-content: center;
  }