@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import "main";
.main-content{
    height: 100%;
}

.slide{
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    @include flex(initial, center, initial);
    overflow: hidden;

}
.text-content-bg{
    width: 550px;
    background:rgba(0, 0, 0, 0.7);
    padding: 20px 0 20px 2%;
}
.text-content{
    overflow: hidden;
    z-index: 11;
    padding: 25px;
    color: #FFF;
    h1{
        letter-spacing: 1px;
        line-height: 0.9;
        font-size: clamp(45px,9vmin, 9vmin);
        margin: 20px 0;
        text-transform:uppercase;
        text-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    }
    p{
        font-weight: 200;
        font-size: 1.15rem;
        margin: 0;
    }
    
}


#slide1{
    background-image: url("../image/arsenal.jpg");
    background-position-x: 60%;
    background-attachment: fixed;
}
#slide2{
    background-image: url("../image/stadium.jpg");
    width: 100%;
    justify-content: flex-end;
   
    transition: 0.25s;
    .text-content-bg{
        height: 100%;
        padding: 50px;
        transition: 0.25s;
        background: #b10819;
        box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 1);
        @include flex(initial, center, center);
        @media (max-width: 860px) {
            background:rgba(0, 0, 0, 0.55);
            height: auto;
            box-shadow: none;  
            padding: 0px;
            height: 100%;
       }
    }

}
#slide3{
    background:rgba(0, 0, 0, 0.8);
    background-attachment: fixed;
    position: relative;

}


.thophy-flex{
    width: 100%;
    @include flex(center, center, initial);
    .thophy-img {
        width: 350px;
        img{
            width: 350px;
        }
    }

}




footer{
    padding: 50px 0;
    .footer-flex{
        @include flex(center, initial, initial);
    } 
    a{
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 0 20px;       
        i{
            font-size: 2rem;
            color: rgba(255, 255, 255, 0.6);
            transition: 0.25s;
        }
        &:hover i{
            color: rgba(255, 255, 255, 1);
        }
    }
  }

  