body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

.mobile-menu {
    display: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 50px;
    margin: 25px 0;
}

button {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #fff;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.service-button {
    border-radius: 5px;
    border: none;
    background: #fcc302;
    padding: 15px 40px;
}

.buy-button {
    border-radius: 30px;
    border: none;
    background: #00bec9;
    padding: 15px 40px;
}

.search-button{
    border-radius: 3px;
    margin: 0;
    padding: 0;
}


/* --------------------------------------------------- */

nav {
    width: 100%;
    height: auto;
    background: #daac00;
    padding: 10px 0;
}

.nav-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    padding: 0;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    color: #fff;
}
.search{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.search input[type=text] {
    background: #fcc302;
    border: none;
    padding: 7px 0;
    color: #fff;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    
}

.search input[type=text]::placeholder {
    color: #fff;
}

.search button {
    padding: 7px 7px;
    background: #00bec9;
    border: none;
    color: #fff;
}


/* --------------------------------------------------- */

header {
    background: #fcc302;
    padding: 40px 0;
    color: #fff;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.header-image img {
    max-width: 100%;
    object-fit: contain;
}


.header-text button {
    background: #00bec9;
    border-radius: 5px;
    border: none;
    padding: 15px 40px;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#ourservice-header {
    background: #fcc302;
    border: 2px solid #fff;
}


/* --------------------------------------------------- */

.service1 {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.service1-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.service1-image {
    position: relative;
    margin: 30px 0;
}

.service1-image .yellow-box {
    position: absolute;
    width: 50%;
    height: 40%;
    background: #fcc302;
    bottom: -30;
    left: -30;
    z-index: -1;
}


/* --------------------------------------------------- */

.title {
    background: #fcc302;
    color: #fff;
    text-align: center;
    padding-top: 25px !important;
    padding: 75px 0;
}

.title-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* --------------------------------------------------- */

.service2 {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.service2-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.service2-image {
    position: relative;
    margin: 30px 0;
}

.service2-image .yellow-box {
    position: absolute;
    width: 50%;
    height: 40%;
    background: #fcc302;
    bottom: -20;
    right: -2%;
    z-index: -1;
}


/* --------------------------------------------------- */

.price {
    width: 100%;
    height: auto;
    padding-top: 25px !important;
    padding: 75px 0;
    background: #fcc302;
    color: #fff;
    text-align: center;
}

.price-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.price-item {
    margin: 10 10;
}


/* --------------------------------------------------- */

.doctor {
    padding: 75px 0;
    text-align: center;
}

.doctor-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.doctor-item {
    margin: 10 10;
}

.doctor-text h3{
    font-weight: 400;
}

/* --------------------------------------------------- */

.stat {
    width: 100%;
    height: auto;
    background: url("image/section-wallpaper.png");
    color: #fff;
    text-align: center;
}

.stat-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px 0;
}

.stat-item {
    margin: 10 10;
}

.stat-text i {
    font-size: 60px;
}

.stat-wallpaper {
    background: #fcc202bd;
    margin: 0;
    padding: 0;
}


/* --------------------------------------------------- */

.post {
    width: 100%;
    height: auto;
    padding: 75px 0;
    padding-top: 25px !important;
}

.post-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.post-item {
    margin: 30 10;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post-text {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}

.green-text {
    color: #00bec9;
}

.post-image img{
    border-radius: 5px;
}


/* --------------------------------------------------- */

footer {
    background: #343434;
    width: 100%;
    height: auto;
    padding: 75px 0;
    color: #fff;
}

footer a {
    color: #fff;
}

footer li {
    list-style: none;
    padding: 4px 0;
    
}
.about, .service, .title-footer{
    flex: 1;
    margin: 0;
    padding: 0;
    
}

.footer-flex {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
}
.title-footer input{
    border: none;
    padding: 7px 0;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    outline: none;
}
.title-footer button{
    padding: 7px 7px;
    background: #00bec9;
    border: none;

}
.footer-flex ul li h2{
    margin: 10px 0;
    font-size: 27px;
}

@media only screen and (max-width: 768px){
    .container{
        padding: 0 20px;
    }

}